.CategoryBox {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(216, 198, 255);
  border-radius: 1vi;
  margin: 2vi;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
}

.ItemBoxContainer {
  overflow-y: visible;
  overflow-x: hidden;
  height: 95%;
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: flex-start;
}

.categoryTitleBox {
  text-align: right;
  display: flex;
  width: 100%;
  margin-left: 2rem;
}

.categoryTitle {
  color: rgb(38, 19, 150);
  font-size: 1.5rem;
  line-height: 1.1;
  text-align: center;
  display: flex;
  margin-left: 3rem;
  margin: 1rem;
}
