.bigRectangle {
  width: 35vi;
  height: 95vh;
  position: relative;
  background-color: rgb(255, 196, 159);
  border-radius: 1vi;
  margin: 2vi;
  color: black;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
}

.smallRectangleContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 95%;
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: flex-start;
}
