.smallRectangle {
  width: 95%;
  max-height: 15rem;
  background-color: white;
  border-radius: 0.5rem;
  margin: 0.5rem;
  color: black;
  font-size: 26px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  position: relative;
}

.title {
  font-size: 3rem;
  margin: 0.5rem;
  display: flex;
  text-align: center;
}

.plainText {
  font-size: 2rem;
  margin: 0.5rem;
  text-align: center;
}

.tickButton {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: grey; /* Change the color as needed */
  font-size: 18px;
  padding: 0;
  margin: 0;
  outline: none;
}
