#root {
  /* max-width: 1280px; */
  height: 100%;
  text-align: center;
}

.disp {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
}

.circularButton {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 4rem;
  height: 4rem;
  background-color: rgb(111, 233, 111);
  border: 2px solid green;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
}

.plusIcon {
  font-weight: bold;
}

/* 
px pixel
em or rem = ratio on screen size
%
 */
