#root {
  height: 95vi;
  width: 100%;
  text-align: center;
}

.disp {
  display: flex;
  gap: 0rem;
  width: 80vw;
  height: 95vh;
  position: relative;
}

.circularButton {
  position: fixed;
  bottom: 1vi;
  left: 1vi;
  width: 3vi;
  height: 3vi;
  max-height: 5vh;
  max-width: 5vh;
  background-color: rgb(111, 233, 154);
  border: 2px solid rgb(47, 216, 101);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
}

.circularButton:hover {
  background: rgb(144, 224, 171);
}

.plusIcon {
  font-weight: bold;
}

.addMenu {
  width: 10rem;
  height: 10rem;
  position: relative;
  background-color: rgb(140, 255, 140);
  border-radius: 10px;
  display: flex;
}

/* 
px pixel
em or rem = ratio on screen size
%
 */
