#root {
  height: 95vi;
  text-align: center;
}

.disp {
  display: flex;
  gap: 1vi;
  width: 100%;
  height: 10rem;
  position: relative;
}

.circularButton {
  position: fixed;
  bottom: 1vi;
  left: 1vi;
  width: 3vi;
  height: 3vi;
  background-color: rgb(111, 233, 111);
  border: 2px solid green;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
}

.plusIcon {
  font-weight: bold;
}

/* .addMenu {
  width: 10rem;
  height: 10rem;
  position: relative;
  background-color: white;
  border-radius: 10px;
  display: flex;
} */

/* 
px pixel
em or rem = ratio on screen size
%
 */
